/* Done */
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  background: linear-gradient(to right, #2e51a2, #1b7ac2);
  font-family: Roboto-Regular;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}
.loadMoreBtn {
  background: transparent;
  color: #fff;
  height: 40px;
  width: 140px;
  margin-bottom: 20px;
  border: 1px solid #fff;
}
.loadMoreBtn:hover {
  background: #0a3d64;
}
.requestUrl {
  font-size: 20px;
  display: flex;
  padding-left: 47px;
}
.requestData {
  margin-right: 9px;
  color: #9db1e0;
}
#form {
  flex-flow: row wrap;
  margin-top: 1vh;
  width: 96vw;
  text-align: center;
  display: inline-block;
  border: 0px solid black;
}

.searchBttn {
  border: 1px solid #fff;
  background: #2c7cc2;
  padding: 25px;
  color: #fff;
  border-radius: 0 10px 10px 0;
  width: 5vw;
}

.input {
  border: 1px solid #2c7cc2;
  background: transparent;
  padding: 25px;
  color: #fff;
  border-radius: 10px 0 0 10px;
  width: 69vw;
}

.card {
  margin: 16px;
  border: none !important;
  border-radius: 10px;
}
.pd-l-44 {
  padding-left: 44px;
}

.card img {
}

.card-title {
  color: #1f1f1f;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.card-footer {
  padding: 1.25rem 2.25rem;
}
